<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="" method="get">
        <input type="number">
        <input type="number">
        <select name="operation" id="">
            <option value="sum">suma</option>
            <option value="rest">resta</option>
            <option value="mul">multiplicación</option>
            <option value="div">divición</option>
        </select>
        <input type="submit" value="Igual a">
    </form>
    <p>El resultado es {{operacion.resultado}} </p>
</body>
</html>